.about__ttl{
  font-size: 32px;
  letter-spacing: .1em;
}

.about__txts{
  line-height: 2;
  padding-top: 8px;
}

.about__list{
  clear: both;
  padding-top: 8px;
  font-size: 18px;
  font-family: $font;
  

  dt{
    float: left;
    padding-top: 8px;

    &:after{
      content: ":";
    }
  }

  dd{
    padding-left: 4em;
    padding-top: 8px;
    font-family: "sans-serif";
  }

}

.about__tel{
  text-decoration: underline;
}

.iframe-wrap {
  margin-top: 24px;
}

 /*Tab、PCのデザイン設定*/
@media #{$mq_tab}{
  .about{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about__left{
    width: calc( 95% / 2);
  }

  .about__right{
    width: calc( 95% / 2);
  }

  .iframe-wrap iframe{
     height: 400px;
  }

  .about__list{
    padding-top: 24px;
  }
}